


.resultcontainer::-webkit-scrollbar{
    
    width: 0;
    height:8px;
    
    
}
.resultcontainer::-webkit-scrollbar-track{
    background-color: transparent;
   
}


.resultcontainer::-webkit-scrollbar-thumb{
    background-color:rgb(49,49,49);
    border-radius: 80px;
    height: 8px;
}
.resultcontainer::-webkit-scrollbar-button:disabled{
    visibility: hidden;
    
} 

.darkgraybuttons{
    background-color:rgb(49,49,49); 
    color:rgb(253,253,253);
    border-radius:50%; 
    border: none; 
    font-size:45px
}



.lightgraybuttons{
    background-color:rgb(160,160,160);
    color:black; 
    border-radius:50%;
    border: none; 
    font-size:35px
}


.orangebuttons{

    background-color:rgb(246,153,3);
    color:rgb(245,245,245); 
    border-radius:50% ;
    border: none; 
    font-size:50px
}
